[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/eclypse-labs/v3-periphery
	branch = 0.8
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/eclypse-labs/v3-core
	branch = 0.8
[submodule "lib/gho-core"]
	path = lib/gho-core
	url = https://github.com/eclypse-labs/gho-core
[submodule "lib/aave-v3-core"]
	path = lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
	branch = v1.17.2
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
